<footer id="mw-footer" data-comment="footer">
   <div class="container">
    <div id="footer-wordmark">
      <span id="footer-title">WebPlatform<span id="footer-title-light">.org</span></span>
    </div>
    <ul class="stewards">
      <li class="steward-w3c"><a href="http://www.webplatform.org/stewards/w3c">W3C</a></li>
      <li class="steward-adobe"><a href="http://www.webplatform.org/stewards/adobe">Adobe</a></li>
      <li class="steward-facebook"><a href="http://www.webplatform.org/stewards/facebook">facebook</a></li>
      <li class="steward-google"><a href="http://www.webplatform.org/stewards/google">Google</a></li>
      <li class="steward-hp"><a href="http://www.webplatform.org/stewards/hp">HP</a></li>
      <li class="steward-intel"><a href="http://www.webplatform.org/stewards/intel">Intel</a></li>
      <li class="steward-microsoft"><a href=" http://www.webplatform.org/stewards/microsoft">Microsoft</a></li>
      <li class="steward-mozilla"><a href="http://www.webplatform.org/stewards/mozilla">Mozilla</a></li>
      <li class="steward-nokia"><a href="http://www.webplatform.org/stewards/nokia">Nokia</a></li>
      <li class="steward-opera"><a href="http://www.webplatform.org/stewards/opera">Opera</a></li>
    </ul>
   </div>
</footer>