<footer id="mw-footer" data-comment="footer">
   <div class="container">
    <div id="footer-wordmark">
      <span id="footer-title">WebPlatform<span id="footer-title-light">.org</span></span>
    </div>
    <ul class="stewards">
      <li class="steward-w3c"><a href="/stewards/w3c/">W3C</a></li>
      <li class="steward-adobe"><a href="/stewards/adobe/">Adobe</a></li>
      <li class="steward-facebook"><a href="/stewards/facebook/">facebook</a></li>
      <li class="steward-google"><a href="/stewards/google/">Google</a></li>
      <li class="steward-hp"><a href="/stewards/hp/">HP</a></li>
      <li class="steward-intel"><a href="/stewards/intel/">Intel</a></li>
      <li class="steward-microsoft"><a href="/stewards/microsoft/">Microsoft</a></li>
      <li class="steward-mozilla"><a href="/stewards/mozilla/">Mozilla</a></li>
      <li class="steward-nokia"><a href="/stewards/nokia/">Nokia</a></li>
      <li class="steward-opera"><a href="/stewards/opera/">Opera</a></li>
    </ul>
   </div>
</footer>
