  <header id="mw-head" class="noprint">
    <div class="container">
      <div id="p-logo">
        <a href="http://www.webplatform.org/"  title="Visit the main page"></a>
      </div>
      <div id="p-search">
        <h5><label for="searchInput">Search</label></h5>
        <form action="http://docs.webplatform.org/w/index.php" id="searchform">
          <div id="search">
            <input name="search" placeholder="Search..." title="Search WebPlatform Docs [f]" accesskey="f" id="searchInput" />
            <input type="submit" name="fulltext" value=" " title="Search the pages for this text" id="mw-searchButton" class="searchButton" />               <input type='hidden' name="title" value="Special:Search"/>
          </div>
        </form>
      </div>
    </div>
  </header>
  <nav id="sitenav">
  <div class="container">
    <ul class="links">
        <li><a href="http://docs.webplatform.org/wiki/">The Docs</a></li>
        <li><a href="http://docs.webplatform.org/wiki/WPD:Community">Connect</a></li>
        <li><a href="http://docs.webplatform.org/wiki/WPD:Contributors_Guide">Contribute</a></li>
        <li><a href="http://blog.webplatform.org">Blog</a></li>
    </ul>
  </div>
  </nav>